// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    font-family: 'Open Sans';
    padding: 0;
    margin: 0;
}
@import 'base/variebles';
@import 'block/schedule';
@import 'block/media';
body{
    height: 1000%;
    width: 100%;
    margin: 0;
    padding: 0;
}
canvas{
    z-index: -1;
}

.container{
    width: 1140px;
}